html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}

html {
    color: whitesmoke;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 10px solid red;
    background-image: url("../../../../00_img/snowy owl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 8rem;
    text-align: center;
}