/* flex container */
body {
  display: flex;
  flex-flow: column wrap;

  justify-content: space-around;

  border: 5px solid red;
}

/* flex items*/
div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 2px solid blue;
  margin: 5px;
  line-height: 100px;
  text-align: center;
  font-size: 2rem;
  font-family: "Bitstream Vera Sans Mono", sans-serif;
  font-weight: bold;
}
