.c1 {
    background-color: #0c2f63;
}

.c2 {
    background-color: #28aadf;
}

.c3 {
    background-color: #8b0d25;
}

.c4 {
    background-color: #67451e;
}

.c5 {
    background-color: #1d623a;
}

.c6 {
    background-color: #d4e508;
}

.c7 {
    background-color: #8019c5;
}