/* flex container */
body {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;

  border: 5px solid hotpink;
  height: 775px;
  box-shadow: -15px -15px 20px hotpink, 15px 15px 20px hotpink;
}

/* flex items*/
div {
  flex-grow: 1;

  width: 200px;
  height: 100px;
  background-color: dodgerblue;
  border: 5px solid black;
  box-sizing: border-box;
  margin: 5px;
  line-height: 100px;
  text-align: center;
  font-size: 2rem;
  font-family: "Bitstream Vera Sans Mono", sans-serif;
  font-weight: bold;
  color: #f4f4f4;
}
