div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

img {
  border: 10px groove orange;
  width: 350px;
  height: 200px;
}

.one {
  border: 10px dashed orange;
  width: 350px;
  height: 200px;
}

.two {
  border: 10px dotted orange;
  width: 350px;
  height: 200px;
}

.three {
  border: 10px double orange;
  width: 350px;
  height: 200px;
}