* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

* {
  list-style-type: none;
}

#atf {
  /* arrange content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* format */
  height: 100vh;
  width: 100%;
  background-image: url("../images/g_s_03_five.jpg");
  background-size: cover;
  /* border: 2px solid hotpink; */
}

header {
  /* arrange content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* format */
  width: 100%;
  height: 8%;
  background-color: transparent;
  padding: 0 1.6rem;
}

header .logo {
  /* arrange content */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* format */
  width: 5rem;
  height: 70%;
  font-size: 2rem;
  font-weight: 900;
  color: lightgray;
  cursor: pointer;
}

header nav {
  /* arrange content */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* format */
  width: 6.5rem;
  height: 70%;
  /* background-color: white; */
}

header nav li {
  /* format */
  width: 100%;
  height: 40%;
  margin: -0.1rem;
  /* background-color: burlywood; */
}

header nav li a {
  /* arrange content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

header nav li:first-child a {
  font-size: 13px;
}

header nav li:first-child a:hover {
  text-decoration: underline;
}

header nav li:last-child a {
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 1.2rem;
}

header nav li:last-child a:hover {
  background-color: rgba(220, 220, 220, 0.2);
  color: #f4f4f4;
}

h1 {
  /* arrange content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* format */
  width: 100%;
  height: 72%;
  text-align: center;
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
  /* background-color: lightgray; */
}

footer {
  /* arrange content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* format */
  width: 100%;
  height: 32%;
  padding: 1rem;
  background-color: rgba(220, 220, 220, 0.1);
}

footer h3 {
  /* arrange content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* format */
  width: 82%;
  height: 42%;
  font-family: monospace;
  text-align: center;
  line-height: 1.5;
  color: #ebebeb;
  /* background-color: lightpink; */
}

footer .footer-main-btn {
  /* arrange content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* format */
  width: fit-content;
  height: 16%;
  padding: 1rem;
  background-image: linear-gradient(red, crimson);
  border-radius: 0.1rem;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

footer nav {
  /* arrange content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* format */
  width: 92%;
  height: 25%;
  padding: 0 1rem;
  /* background-color: lightsteelblue; */
}

footer nav li {
  /* arrange content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* format */
  width: 15%;
  height: 75%;
}

footer nav li a {
  /* format */
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #ebebeb;
  text-decoration: none;
  background-color: transparent;
  border-radius: 0.2rem;
}

footer nav li a:hover {
  background-color: rgba(220, 220, 220, 0.2);
}