div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("../../00_img/humpback whale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 350px;
  height: 200px;
  border: 10px groove orange;
  border-radius: 50%;
}

.one {
  border: 10px dashed orange;
  width: 350px;
  height: 200px;
}

.two {
  border: 10px dotted orange;
  width: 350px;
  height: 200px;
}

.three {
  border: 10px double orange;
  width: 350px;
  height: 200px;
}