

div {
  width: 800px;
  height: 500px;
  background-color: indianred;
  border-radius: 10px;
  border: 20px groove green;
  background-image: url("../../../00_img/red foxes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
